<style>
    a {text-decoration: none;
       color: #fff; }

</style>
<div class="row"> 
    <div class="col-6 mx-auto">
        <form [formGroup]="formLogin" (ngSubmit)="login()" >
            <div class="form-group">
                <label for="exampleInputEmail1">Username </label>
                <input type="text" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" >Login</button>
                <button class="btn btn-primary"><a style="text-decoration: none;" routerLink="/registrazione" routerLinkActive="active">Registrati</a></button>
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>